<!DOCTYPE html>
<html>
<head>
  <title>Welcome to To-Do App</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to your To-Do App</h1>

    <p>
      <a href="/login">Login</a> |
      <a href="/signup">Signup</a>
    </p>
  </div>
</body>
</html>
