<!DOCTYPE html>
<html>
<head>
  <title>Signup</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <h1>Signup</h1>

    <% if (message.length > 0) { %>
      <p><%= message %></p>
    <% } %>

    <form action="/signup" method="post">
      <input type="text" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit">Signup</button>
    </form>

    <p><a href="/">Home</a></p>
  </div>
</body>
</html>
